language: node_js
node_js:
    - "6"
    - "7"
    - "8"
    - "9"
    - "10"
    - "node"
before_install:
    - npm install
script:
    - npm run lint
    - npm run test
cache:
  directories:
  - $HOME/.npm
